.footer {
    padding: 80px 0 20px;
    background: $green-light;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;

        &-logo {
            margin-bottom: 50px;
            display: block;
            max-width: 330px;
            width: 100%;

            & > img {
                width: 100%;
                display: block;
            }
        }

        &-link {
            color: $white;
            display: flex;
            gap: 15px;
            align-items: center;
            margin-bottom: 10px;
            width: fit-content;

            &:last-child {
                margin-bottom: 30px;
            }

            &__icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 80px;
                border: 1px solid $white;

                & > svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &__text {
                color: $white;
                font-size: 18px;
                font-weight: 400;
                line-height: 100%;
                transition: 0.3s;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-props {
            color: $white;
            font-size: 16px;
            font-weight: 300;
            line-height: 100%;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        &-privacy {
            color: $white;
            font-size: 14px;
            font-weight: 300;
            line-height: 100%;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &-column {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 210px;

            &__title {
                color: $white;
                font-size: 24px;
                font-weight: 400;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 0;
            }

            &__item {
                color: $grey;
                font-size: 18px;
                font-weight: 400;
                line-height: 100%;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    text-decoration: underline;
                }

                &-meta {
                    color: $grey;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 100%;
                    margin-top: auto;
                }
            }
        }
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > a {
            > img {
                height: 42px;
                width: auto;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            margin-top: auto;
            gap: 5px;

			& > a {
				> img {
					height: 22px;
					width: auto;
				}
			}

            &__text {
                color: $grey;
                font-size: 12px;
                font-weight: 300;
                line-height: 100%;
            }
        }
    }
}

@media (max-width: 1050px) {
    .footer {
        &__content {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 120px;
        }

        &__contacts {
            width: calc(50% - 10px);

            &-privacy {
                position: absolute;
                bottom: 0;
            }

            &-props {
                position: absolute;
                bottom: 30px;
            }

            &-link {
                &:nth-last-child(3) {
                    margin-bottom: 0;
                }
            }
        }

        &__links {
            order: 3;
            width: 100%;
            margin: 80px 0 60px;

            &-column {
                &__item {
                    &-meta {
                        position: absolute;
                        bottom: 40px;
                        right: 0;
                        max-width: 165px;
                    }
                }
            }
        }

        &__feedback {
            order: 2;
            width: calc(50% - 10px);
            justify-content: flex-end;

            &-link {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

@media (max-width: 520px) {
    .footer {
        padding-bottom: 80px;

        &__content {
            gap: 0;
            position: relative;
            padding-bottom: 80px;
        }

        &__contacts {
            width: 100%;

            &-props {
                font-size: 14px;
                margin-top: 0;
            }

            &-privacy {
                font-size: 12px;
            }
        }

        &__links {
            order: 2;
            flex-wrap: wrap;
            gap: 23px;
            margin: 50px 0 40px;

            &-column {
                width: calc(50% - 12px);

                &__title {
                    font-size: 14px;
                    font-weight: 300;
                }

                &__item {
                    font-size: 12px;
                    font-weight: 300;

                    &-meta {
                        font-size: 12px;
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        max-width: 100%;
                    }
                }
            }
        }

        &__feedback {
            order: 3;
            margin-left: auto;
            margin-right: 70px;
            margin-top: -265px;
            height: 150px;

            &-link {
                position: absolute;
                bottom: -60px;
                left: 0;
            }
        }
    }
}
