.wpcf7-form-control-wrap {
	display: block;
}

.input {
    padding: 10px;
    border-radius: 80px;
    border: 1px solid $green;
    outline-color: $green;
    display: block;
    width: 100%;
	background: none;
	font-size: 16px;
	font-weight: 300;

    &::placeholder {
        color: rgba(31, 71, 43, 0.5);
    }

	& ~ .wpcf7-not-valid-tip {
		display: block;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: fit-content;
	}
}

.textarea {
    padding: 10px;
    border-radius:20px;
    border: 1px solid $green;
    outline-color: $green;
    display: block;
    width: 100%;
	background: none;
	height: 90px;
	overflow: auto;
	resize: none;
	font-family: $base-font;
	font-size: 16px;
	font-weight: 300;

    &::placeholder {
        color: rgba(31, 71, 43, 0.5);
    }
}

.checkbox {
    display: none;

    &:checked ~ &__mask {
        &:after {
            opacity: 1;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
		margin: 0;
    }

	&__wrapper:has(input:checked) &__mask {
		&:after {
			opacity: 1;
		}
	}

    &__mask {
        border: 1px solid $green;
        width: 12px;
        height: 12px;
		min-width: 12px;
		min-height: 12px;
        display: block;
        position: relative;

        &:after {
            width: 8px;
            height: 4px;
            content: '';
            border-bottom: 2px solid $green;
            border-left: 2px solid $green;
            display: block;
            transform: rotate(-45deg) translate(-50%, -50%);
            position: absolute;
            top: 10%;
            left: 50%;
            opacity: 0;
        }
    }

    &__text {
        color: rgba(7, 7, 7, 0.5);
        font-size: 16px;
        font-weight: 300;
        line-height: 100%;

        & > a {
            color: rgba(31, 71, 43, 0.5);
			&:hover{
				text-decoration: underline;
			}
        }
    }
}

