@media (pointer:coarse) {
	.header {
		width: 100% !important;
	}
}

.header {
    padding: 20px 0;
    border-bottom: 1px solid $green-light;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100vw - 17px);
    z-index: 10;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        max-width: 160px;
        width: 100%;

        & > img {
            width: 100%;
            display: block;
        }
    }

    &__nav {
        ul {
            padding-left: 0;
            list-style: none;
        }

        .mobile-menu {
            &__list {
                display: flex;
                gap: 20px;
            }
        }

        .sub-menu {
            position: absolute;
            left: 0;
            top: 100%;
            padding: 25px 0 0 0;
            list-style: none;
            width: 290px;
            z-index: 1;
            display: none;

            & a {
				color: #1F472B80 !important;
				transition: 0.2s;
				width: fit-content;

				&:hover {
					color: $green !important;
				}
            }

            & .menu-item {
                margin: 5px 0;

                &:hover a {
                    color: $green;
                }
            }
        }

        &-mobile {
            display: none;
        }

        .menu-item {
            position: relative;
            cursor: pointer;

            a {
                color: $black;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                line-height: 100%;
            }

			&-has-children {
				& > a {
					display: flex;
					align-items: center;
					justify-content: center;
					gap:8px;

					&:after {
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border: 2px solid $green;
						transform: rotate(45deg);
						border-left: none;
						border-top: none;
					}
				}
			}

            &:hover .sub-menu {
                display: block;
            }
        }
    }

    &__contacts {
        display: flex;
        gap: 10px;
        align-items: center;

        & .button:last-child {
            margin-left: 10px;
        }
    }

    &__burger {
        display: none;
        aspect-ratio: 1;

        .button__icon {
            flex-direction: column;
            gap: 5px;
        }

        &-line {
            width: 20px;
            height: 1px;
            display: block;
            background: $white;
            transition: 0.4s;
        }
    }

    &:has(.menu-item-has-children:hover):after {
        content: '';
        display: block;
        height: 70px;
        width: 100%;
        background: $white;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom: 1px solid $green;
    }
}

@media (max-width: 1200px) {
    .header {
        &__burger {
            &.opened &-line {
                &:first-child {
                    transform: rotate(45deg) translateY(2px) translateX(2px);
                }
                &:last-child {
                    transform: rotate(-45deg) translateY(-2px) translateX(2px);
                }
            }
        }

        &__nav {
            position: fixed;
            z-index: -1;
            top: 0;
            bottom: 0;
            right: 0;
            background: $white;
            max-width: 360px;
            width: 100%;
            padding: 100px 30px 30px 30px;
            transform: translateX(100%);
            transition: 0.2s;

            &.opened {
                transform: none;
            }

            .mobile-menu__list {
                flex-direction: column;
                align-items: center;
                padding: 0;
                gap: 30px;
                height: 100%;

                a {
                    width: 100%;
					text-align: center;
                }
            }

            & .sub-menu {
                position: initial;
                display: flex !important;
				flex-direction: column;
				align-items: center;
                transition: 0.2s;
                overflow: hidden;
                padding-top: 0;
                max-height: 0;

                &.opened {
                    padding-top: 10px;
                    max-height: 100px;
                }
            }

            &-mobile {
                display: block;
                position: absolute;
                bottom: 0;
                text-align: center;
                left: 0;
                right: 0;
                padding: 0 30px 20px;
                &__order {
                    margin: 0 auto;
                }

                &__socials {
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0;
                }
            }
        }

        &__burger {
            display: block;

            .button__icon {
                display: flex;
                background: $green !important;
            }
        }

        &__contacts {
            & .button:last-child {
                margin-left: 20px;
            }
        }

        &:after {
            display: none !important;
        }
    }
}

@media (max-width: 720px) {
    .header {
        &__contacts {
            &-order {
                display: none;
            }
        }

        &__nav {
            max-width: 100%;

            &-item {
                &__order {
                    display: block;
                    margin-top: auto;
                }

                &__socials {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 360px) {
}
