.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1420px;

    @media screen and (min-width: $tablet) {
        padding: 0 10px;
    }

    @media screen and (min-width: $tablet-landscape) {
        padding: 0 10px;
    }
}
