.cooperation {
    &__company {
        padding: 100px 0;
        background: $white;
    }

    &__projects {
        padding: 50px 0 100px;

		&.grey {
			background: $grey;
		}

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-names {
            &__title {
                color: $green;
                text-transform: uppercase;
                margin: 0 0 20px;
            }

            &__text {
                color: $black;
                margin-bottom: 60px;
            }
        }

        &-card {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & > img {
                width: 100%;
                height: 100%;
				min-height: 454px;
                object-fit: cover;
            }

            &__names {
                display: flex;
                justify-content: space-between;
                gap: 27px;

                &-title {
                    color: $black;
                    margin: 0;
                }

                &-text {
                    color: $green-light-transparent;
                    margin: 0;
                }
            }
        }

        &-slider {
			max-width: 100vw;
			overflow: hidden;

            &__container {
                width: 100%;
                overflow: hidden;
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__buttons {
                display: none;
                align-items: center;
                gap: 20px;
                justify-content: flex-start;
                width: fit-content;
                margin: 35px auto 0;
            }
        }
    }
}

@media (max-width: 820px) {
    .cooperation {
        &__projects {
			&-card {
				& > img {
					min-height: 360px;
				}
			}
            &-row {
                grid-template-columns: 1fr;
                &-empty {
                    display: none;
                }
            }
            &-slider {
                &__buttons {
                    display: flex;
                }
            }
        }
    }
}
@media (max-width: 720px) {
    .cooperation {
        &__projects {
            padding: 30px 0 50px;
        }
        &__company {
            padding: 20px 0;
        }
    }
}
