.letters{
	background:$grey;
	padding: 100px 0;
	&__title{
		color: $green;
		text-transform: uppercase;
		margin:0 0 80px;
		text-align: center;
	}
	&__slider{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		&-buttons{
			display: flex;
			gap: 20px;
		}
	}
}
@media screen and (max-width: 820px){
	.letters{
		padding: 80px 0;
		&__title{
			margin-bottom: 60px;
		}
	}
}
@media screen and (max-width: 520px){
	.letters{
		padding: 60px 0;
		&__title{
			margin-bottom: 40px;
		}
	}
}
