.news {
    &__articles {
        padding: 100px 0 50px;
    }

    &__article {
        border: 1px solid rgba(31, 71, 43, 0.5);
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 150px;
        margin-bottom: 20px;

        &-content {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 100%;

            &__date {
                display: flex;
                margin-right: 40px;
                border-radius: 60px;
                border: 1px solid $green;
                padding: 10px;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 188px;
            }

            &__description {
                max-width: 472px;
                width: 100%;
                display: flex;
                flex-direction: column;

                &-title {
                    color: $black;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }

                &-text {
                    color: $black;
					margin-bottom: 20px;
                }

                &-button {
                    margin-top: auto;
                }
            }
        }

        & > img {
            max-width: 330px;
        }
    }

    &__partners {
        background: $grey;
    }

    &__company {
        background: $grey;
    }

    &__projects {
        background: $grey;
    }
}

.story {
	background:  #F3F4F1;
	&__banner{
		background: #F3F4F1!important;
	}

    &__long {
		padding: 100px 0;
		background: #F3F4F1;
        &-mockup {
            display: grid;
            grid-template-columns: 1fr 1fr;
			gap: 100px;


            &__content {
                &-data {
                    color: rgba(31, 71, 43, 0.5);
                    margin-bottom: 20px;
                }
				&-title{
					color: $black;
					text-transform: uppercase;
					margin-bottom: 40px;
				}
				&-text{
					color: $black;
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0;
					}
				}
            }
        }
		&-slider{
			padding: 40px 0;
			background: #F3F4F1;
		}
		&-news {
			&__slider {
				.cooperation__projects-card {
					img {
						max-height: 450px;
					}
				}
			}
		}
    }
}

@media (max-width: 820px) {
    .news {
        &__articles {
            padding: 80px 0 40px;
        }

        &__article {
            gap: 20px;

            &-content {
                display: flex;
                flex-direction: column;
                padding: 15px;

                &__date {
                    margin-bottom: 20px;
                }

                &__description {
                    width: 100%;

                    &-title {
                        margin-bottom: 20px;
                    }
                }
            }

            & > img {
                max-width: 320px;
            }
        }
    }

	.story {
		&__long {
			padding: 30px 0;
			&-mockup {
				grid-template-columns:1fr;
				gap: 40px;
			}
		}
	}
}

@media (max-width: 720px) {
    .news {
        &__articles {
            padding: 60px 0;
        }

        &__article {
            border: 1px solid rgba(31, 71, 43, 0.5);
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0;
            margin-bottom: 20px;

            &-content {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                width: 100%;

                &__date {
                    display: flex;
                    margin-right: 40px;
                    border-radius: 60px;
                    border: 1px solid $green;
                    padding: 10px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 188px;
                }

                &__description {
                    max-width: 100%;
                }
            }

            & > img {
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                height: 300px;
            }
        }
    }
}
