.projects {
    &__banner {
        &-logo {
            max-width: 194px;
            max-height: 194px;
            width: 100%;
            height: 100%;
            margin: 45px auto 20px;
        }
    }

    &__works {
        background: $white;
        padding: 100px 0;

        &-titles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 80px;

            &__text {
                color: $black;
                max-width: 80%;
            }

            &__subtext {
                color: rgba(31, 71, 43, 0.5);
                text-transform: uppercase;
            }
        }

        &-button {
            display: none;
        }
    }
}

.project {
    padding: 80px 0;

    &__slogan {
        &-articles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 80px 0;

            &__items {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                & > span {
                    color: $green;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 100%;
                    display: flex;
                    max-width: 213px;
                    max-height: 40px;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 80px;
                    border: 1px solid $green;
                }
            }
        }

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 80px;

            &__description {
                max-width: 80%;

                &-title {
                    color: $green;
                    margin-bottom: 10px;
                }

                &-text {
                    color: $black;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__gallery {
        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
        }

        &-item {
            height: 465px;

            & > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &.placeholder {
            }

            &.double {
                grid-column: span 2;
            }

            &.all {
                grid-column: span 4;
            }
        }
    }

    &__slider {
        background: $grey;
        padding: 20px 0 60px;

        &-gallery {
            background: $white;

            &__buttons {
                margin: 0 auto;
            }
        }
    }

    &__examples {
        padding: 20px 0 80px;

        &-card {
            & > img {
                height: 465px;
            }
        }

        &-buttons {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            gap: 20px;
        }
    }
}

@media (max-width: 820px) {
    .projects {
        &__works {
            background: $white;
            padding: 80px 0;

            &-item {
                &:last-child {
                    grid-column: span 1;
                }
            }
        }
    }

    .project {
        padding: 70px 0;

        &__slogan {
            &-row {
                margin-bottom: 60px;
            }

            &-articles {
                grid-template-columns: 1fr;
                margin: 70px 0;

                &__placeholder {
                    display: none;
                }

                &__items {
                    width: 100%;
                    gap: 3px;

                    & > span {
                        max-width: 185px;
                        max-height: 40px;
                    }
                }
            }

            &-row {
                grid-template-columns: 1fr;
                gap: 80px;

                &__description {
                    max-width: 80%;
                }
            }
        }

        &__gallery {
            &-content {
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }

            &-item {
                height: 360px;

                &.placeholder {
                    display: none;
                }

                &.double {
                    grid-column: span 1;
                }

                &.all {
                    grid-column: span 2;
                }
            }
        }

        &__examples {
            padding: 20px 0 60px;

            &-card {
                & > img {
                    height: 360px;
                }
            }

            &-buttons {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 620px) {
    .projects {
        &__banner {
            &-logo {
                max-width: 120px;
                max-height: 120px;
            }
        }

        &__works {
            background: $white;
            padding: 60px 0;

            &-titles {
                grid-template-columns: 1fr;
                gap: 20px;
                margin-bottom: 60px;

                &__text {
                    max-width: 100%;
                }
            }

            &-button {
                display: flex;
                width: 100%;
            }
        }
    }

    .project {
        padding: 40px 0;

        &__slogan {
            &-articles {
                grid-template-columns: 1fr;
                margin: 60px 0 40px;

                &__items {
                    gap: 3px;

                    & > span {
                        font-size: 10px;
                        max-width: 125px;
                        max-height: 30px;
                    }
                }
            }

            &-row {
                gap: 40px;
                margin-bottom: 20px;

                &__description {
                    max-width: 100%;
                }
            }
        }

        &__gallery {
            &-item {
                height: 230px;
            }
        }

        &__examples {
            padding: 20px 0 20px;

            &-card {
                & > img {
                    height: 230px;
                }
            }

            &-buttons {
                margin-top: 20px;
            }
        }
    }
}
