.service {
    &__categories {
        padding: 100px 0;
        background: $white;
        &-header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 80px;
            &__text {
                max-width: 492px;
                margin: 0;
            }
            &__subject {
                text-transform: uppercase;
                color: #1f472b80;
                margin: 0;
            }
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }
        &-card {
            width: 25%;
            &.wide {
                width: 50%;
            }
            &__image {
                height: 450px;
                font-size: 0;
                display: block;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__title {
                display: block;
                color: $black;
                margin: 10px 0 0 0;
            }
        }

        &-button {
            max-width: 50%;
            margin-top: 60px;
            margin-left: auto;
        }
    }
    &__factory {
        background: $grey;
        padding: 100px 0;
        &-logo {
            max-width: 190px;
            margin: 0 auto;
        }
        &-title {
            margin: 80px 0;
            text-align: center;
			text-transform: uppercase;
        }
        &-row {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 20px;
        }
        &-data {
            max-width: 490px;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
			gap:20px;
        }
        &-text {
			margin: 0;
        }
        &-button {
            width: 100%;
            margin-top: auto;
        }
        &-image {
            width: 100%;
            height: 450px;
            aspect-ratio: 1;
			object-fit: cover;
        }
    }

	&__advantages {
		background: $white;
		padding: 100px 0;

&-title {
	max-width: 820px;
	margin: 0 0 80px 0;
	text-transform: uppercase;
}

		&-row {
display: grid;
			grid-template-columns: 1fr 1fr;
			gap:20px;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap:20px;
		}
		&-card {
			display: flex;
			flex-direction: column;
			gap:20px;
			height: 100%;
			border: 1px solid #1F472B80;
			padding: 20px;

			&.green {
				background: $green;
				border-color: $green;
				color: $white;
			}

			&__icon {
				width: 40px;
				height: 40px;
				font-size: 0;
			}
			&__title {
				margin: 0 0 40px;
				text-transform: uppercase;
			}
			&__text {
				margin: auto 0 0 0;
			}

			&:last-child {
				background: $grey;
			}
		}
	}
}

@media (max-width: 820px) {
    .service {
        &__categories {
            padding: 80px 0;

            &-card {
                width: calc(50% - 10px) !important;
            }
            &-button {
                margin-top: 60px;
                max-width: 100%;
            }
        }

		&__factory {
			padding: 80px 0;
			&-title {
				margin: 60px 0;
			}
			&-row {
				grid-template-columns: 1fr 1fr;
			}
			&-data {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column: span 2;
				gap:20px;
				padding-bottom: 40px;
				max-width: 100%;
			}
			&-button {
				grid-column: span 2;
			}
			&-image {
				height: 360px;
				width: 100%;
			}
		}

		&__advantages {
			padding: 80px 0;
			&-title {
				margin: 0 0 60px 0;
			}
			&-row {
				display: flex;
				flex-direction: column-reverse;
			}
			&-image {
				height: 360px;
			}

			&-card {
				&__title {
					margin-bottom: 58px;
				}
			}
		}
    }
}

@media (max-width: 520px) {
    .service {
        &__categories {
            padding: 60px 0;
            &-header {
                display: flex;
                flex-direction: column-reverse;
                gap: 20px;
                margin-bottom: 60px;
            }
            &-card {
                width: 100% !important;
            }
        }

		&__factory {
			padding: 60px 0;
			&-logo {
				max-width: 120px;
			}
			&-data {
				grid-template-columns: 1fr;
			}
			&-button {
				grid-column: 1;
			}
			&-image {
				height: 220px;
			}
		}

		&__advantages {
			padding: 60px 0;
			&-grid {
				grid-template-columns: 1fr;
			}
			&-placeholder {
				display: none;
			}
		}
    }
}
