*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    font-family: $base-font;
    color: $black;
    font-weight: 400;
    font-size: 15px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

body main {
    flex-grow: 1;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.h1 {
  font-size: 180px;
  font-weight: 400;
  line-height: 212px;
}

.h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.subtext {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

@media screen and (max-width: 920px){}

@media screen and (max-width: 560px){
  .h1 {
    font-size: 90px;
    font-weight: 400;
    line-height: 106px;

  }

  .h2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -1px;
  }

  .h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  .subtext {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
  }
}
