*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    font-family: $base-font;
    color: $black;
    font-weight: 400;
    font-size: 15px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

body.static {
	overflow-y: hidden;
}

body:has(header.header) {
    padding-top: 81px;
}

body main {
    flex-grow: 1;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.h1 {
    font-size: 180px;
    font-weight: 400;
    line-height: 212px;
	margin: 0;
}

.h2 {
    font-size: 60px;
    font-weight: 400;
	line-height: 100%;
	margin: 0;
}

.h3 {
    font-size: 24px;
    font-weight: 400;
	line-height: 100%;
    margin: 0;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
	margin: 0;
}

.subtext {
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
	margin: 0;
}

.text-green {
    color: $green;
}
.text-center {
	text-align: center;
}

.page {
    &__banner {
        background: $green;
        padding: 40px 0 100px;
        color: $white;

        &.light {
            background: $grey;
            color: $green;
        }

        &.white {
            background: $white;
            color: $green;
        }

        &-breadcrumbs {
            font-size: 14px;
            margin-bottom: 40px;

            & *,
			& * a {
                color: #f3f4f180;
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
            }

            & * a:hover {
                text-decoration: underline;
            }
        }

        &.light &-breadcrumbs * {
            color: #1f472b80;
        }

        &.white &-breadcrumbs * {
            color: rgba(31, 71, 43, 0.5);
        }

        &-image {
            display: block;
            max-width: 190px;
            margin: 0 auto;
        }

        &-number {
            width: 40px;
            height: 40px;
            border: 1px solid $white;
            border-radius: 1000px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto 20px auto;
        }

        &-text {
            margin: 0 0 20px 0;
            text-transform: uppercase;
            text-align: center;
        }

        &-title {
            margin: 20px 0 0 0;
            text-transform: uppercase;
            text-align: center;
            line-height: 130% !important;
        }
    }
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 680px) {
    .h1 {
        font-size: 90px;
        font-weight: 400;
        line-height: 106px;
    }

    .h2 {
        font-size: 26px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: -1px;
    }

    .h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
    }

    .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }

    .subtext {
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
    }
}
