// colors
$white: #FFFDFA;
$grey: #F3F4F1;
$green: #1F472B;
$green-light: #1F472B;
$green-light-transparent: rgba($green-light, 0.8);
$black: #070707;

// indents
$indent-xs: 80px;
$indent-md: 100px;
$indent-lg: 150px;

$indent-xs-tablet: 60px;
$indent-md-tablet: 80px;
$indent-lg-tablet: 100px;

$indent-xs-mobile: 40px;
$indent-md-mobile: 60px;
$indent-lg-mobile: 80px;

// fonts
$base-font: 'TT Norms', sans-serif; // example

// media
$mobile-only: 779px;
$tablet: 768px;
$tablet-landscape: 1080px;
$desktop: 1440px;
