// GLOBAL
@import 'global/fonts.scss';
@import 'global/variables.scss';
@import 'global/global.scss';

// LAYOUT
@import 'components/button.scss';
@import 'components/form.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/wrapper.scss';
@import "components/popup.scss";

// PAGES
@import 'pages/home';
@import 'pages/service';
@import 'pages/404';
@import "pages/about";
@import "pages/clients";
@import "pages/cooperation";
@import "pages/news";
@import "pages/feedback";
@import "pages/letters";
@import "pages/projects";
